# Tanzania Well Water

## 1. Defining the Question

### a) Specifying the Data Analytic Question

> Tanzania, as a developing country, struggles with providing clean water to its population of over 57,000,000. There is a need to improve access to clean water for the population. While there are many water points already established, some are in need of repair and others have failed altogether. The challenge is to accurately predict the condition of a water well based on factors such as the type of pump, installation date, and other relevant information. The goal of this project is to develop a classifier that can accurately predict the condition of water wells, which can be useful for NGOs looking to locate wells needing repair or the government of Tanzania trying to find patterns in non-functional wells to influence how new wells are built

> **Problem Statement:** How can we accurately predict the condition of a water well in Tanzania based on factors such as type of pump, installation date, and other relevant information

### b) Defining the Metric for Success

>The goal is to achieve an accuracy score of at least 80% or higher, F1 score of at least 70% or higher, precision score of at least 70% or higher, recall score of at least 70% or higher

### Main Objective
Predict the condition of water wells in Tanzania, which can help an NGO or the government of Tanzania to identify wells that need repair or replacement.

### Other objectives

To improve access to clean water by identifying wells in need of repair or replacement.

To reduce water-borne diseases by ensuring that wells providing safe drinking water are functional.

To optimize resource allocation for the government or NGO by prioritizing wells in need of repair or replacement.

To provide insights into patterns and trends in the functionality of wells, which can inform decision-making for future well construction.

To promote sustainability and long-term planning for water well infrastructure in Tanzania.

### c) Understanding the context

The data for this project is obtained from the Taarifa waterpoints dashboard, which has been aggregated from the Tanzania Ministry of Water and is used to track infrastructure-related issues. The data contains information on 59,400 waterpoints and is available as three datasets:

1. Training set labels
2. Training set values
3. Test set values. 

The target variable is "status_group", which details the functionality of the waterpoints. The training data has 59,400 rows and 41 columns and contains information about the water pumps, such as the type of pump, installation date, location, etc.The test data has 40 columns and 14850 row. The data was acquired from Taarifa and the Tanzanian Ministry of Water and was downloaded from DrivenData.

### The dataset columns are:

1. amount_tsh - Total static head (amount water available to waterpoint)
2. date_recorded - The date the row was entered
3. funder - Who funded the well
4. gps_height - Altitude of the well
5. installer - Organization that installed the well
6. longitude - GPS coordinate
7. latitude - GPS coordinate
8. wpt_name - Name of the waterpoint if there is one
9. num_private - Private use or not
10. basin - Geographic water basin
11. subvillage - Geographic location
12. region - Geographic location
13. region_code - Geographic location (coded)
14. district_code - Geographic location (coded)
15. lga - Geographic location
16. ward - Geographic location
17. population - Population around the well
18. public_meeting - True/False
19. recorded_by - Group entering this row of data
20. scheme_management - Who operates the waterpoint
21. scheme_name - Who operates the waterpoint
22. permit - If the waterpoint is permitted
23. construction_year - Year the waterpoint was constructed
24. extraction_type - The kind of extraction the waterpoint uses
25. extraction_type_group - The kind of extraction the waterpoint uses
26. extraction_type_class - The kind of extraction the waterpoint uses
27. management - How the waterpoint is managed
28. management_group - How the waterpoint is managed
29. payment - What the water costs
30. payment_type - What the water costs
31. water_quality - The quality of the water
32. quality_group - The quality of the water
33. quantity - The quantity of water
34. quantity_group - The quantity of water
35. source - The source of the water
36. source_type - The source of the water
37. source_class - The source of the water
38. waterpoint_type - The kind of waterpoint
39. waterpoint_type_group - The kind of waterpoint
40. status_group - show fuctional well and those not functioning

### d) Experimental Design

The experimental design for the water well classification project in Tanzania can be recorded as follows:

1. Data Collection: 
2. Data Exploration: 
3. Feature Engineering: 
4. Model Selection: 
5. Model Training and Validation: 
6. Model Tuning: 
7. Model Evaluation:

## 2. Reading the Data

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split,GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score,f1_score, classification_report

from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
import os

In [2]:
# loading the data
target = pd.read_csv("D:/Projects/datasets/target.csv")
label = pd.read_csv ("D:/Projects/datasets/label.csv")
test = pd.read_csv("D:/Projects/datasets/test.csv")

Merge the two datasets with a common column `id`

In [3]:
#check shape for both the datasets before merging
print(f'shape of target dataset: {target.shape}, shape of label dataset: {label.shape} shape of test dataset: {test.shape}')

shape of target dataset: (59400, 2), shape of label dataset: (59400, 40) shape of test dataset: (14850, 40)

In [4]:
# merging the data to form one dataframex
well_df = pd.merge(target, label, on='id')

## 3. Checking the Data

In [5]:
# Previewing the top of dataset
well_df.head()

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,functional,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,non functional,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [6]:
test.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [7]:
# Previewing the tail of  dataset
well_df.tail()

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
59395,60739,functional,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,functional,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,functional,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,functional,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,functional,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [8]:
test.tail()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
14845,39307,0.0,2011-02-24,Danida,34,Da,38.852669,-6.582841,Kwambwezi,0,...,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
14846,18990,1000.0,2011-03-21,Hiap,0,HIAP,37.451633,-5.350428,Bonde La Mkondoa,0,...,annually,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
14847,28749,0.0,2013-03-04,NaN,1476,NaN,34.739804,-4.585587,Bwawani,0,...,never pay,soft,good,insufficient,insufficient,dam,dam,surface,communal standpipe,communal standpipe
14848,33492,0.0,2013-02-18,Germany,998,DWE,35.432732,-10.584159,Kwa John,0,...,never pay,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
14849,68707,0.0,2013-02-13,Government Of Tanzania,481,Government,34.765054,-11.226012,Kwa Mzee Chagala,0,...,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe

In [9]:
# check column names
well_df.columns

Index(['id', 'status_group', 'amount_tsh', 'date_recorded', 'funder',
       'gps_height', 'installer', 'longitude', 'latitude', 'wpt_name',
       'num_private', 'basin', 'subvillage', 'region', 'region_code',
       'district_code', 'lga', 'ward', 'population', 'public_meeting',
       'recorded_by', 'scheme_management', 'scheme_name', 'permit',
       'construction_year', 'extraction_type', 'extraction_type_group',
       'extraction_type_class', 'management', 'management_group', 'payment',
       'payment_type', 'water_quality', 'quality_group', 'quantity',
       'quantity_group', 'source', 'source_type', 'source_class',
       'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')

In [10]:
# shape of the data

print(f'The data has {well_df.shape[0]} rows and {well_df.shape[1]} columns')

The data has 59400 rows and 41 columns

In [11]:
print(f'The data has {test.shape[0]} rows and {test.shape[1]} columns')

The data has 14850 rows and 40 columns

In [12]:
# check information of the data
well_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   status_group           59400 non-null  object
 2   amount_tsh             59400 non-null  float64
 3   date_recorded          59400 non-null  object
 4   funder                 55765 non-null  object
 5   gps_height             59400 non-null  int64
 6   installer              55745 non-null  object
 7   longitude              59400 non-null  float64
 8   latitude               59400 non-null  float64
 9   wpt_name               59400 non-null  object
 10  num_private            59400 non-null  int64
 11  basin                  59400 non-null  object
 12  subvillage             59029 non-null  object
 13  region                 59400 non-null  object
 14  region_code            59400 non-null  int64
 15  district_code          59400 non-null  int64
 16  lga                    59400 non-null  object
 17  ward                   59400 non-null  object
 18  population             59400 non-null  int64
 19  public_meeting         56066 non-null  object
 20  recorded_by            59400 non-null  object
 21  scheme_management      55523 non-null  object
 22  scheme_name            31234 non-null  object
 23  permit                 56344 non-null  object
 24  construction_year      59400 non-null  int64
 25  extraction_type        59400 non-null  object
 26  extraction_type_group  59400 non-null  object
 27  extraction_type_class  59400 non-null  object
 28  management             59400 non-null  object
 29  management_group       59400 non-null  object
 30  payment                59400 non-null  object
 31  payment_type           59400 non-null  object
 32  water_quality          59400 non-null  object
 33  quality_group          59400 non-null  object
 34  quantity               59400 non-null  object
 35  quantity_group         59400 non-null  object
 36  source                 59400 non-null  object
 37  source_type            59400 non-null  object
 38  source_class           59400 non-null  object
 39  waterpoint_type        59400 non-null  object
 40  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [13]:
# descriptive statistics for our numeric values in dataset
well_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,59400.0,37115.131768,21453.128371,0.00000,18519.750000,37061.500000,55656.500000,7.424700e+04
amount_tsh,59400.0,317.650385,2997.574558,0.00000,0.000000,0.000000,20.000000,3.500000e+05
gps_height,59400.0,668.297239,693.116350,-90.00000,0.000000,369.000000,1319.250000,2.770000e+03
longitude,59400.0,34.077427,6.567432,0.00000,33.090347,34.908743,37.178387,4.034519e+01
latitude,59400.0,-5.706033,2.946019,-11.64944,-8.540621,-5.021597,-3.326156,-2.000000e-08
num_private,59400.0,0.474141,12.236230,0.00000,0.000000,0.000000,0.000000,1.776000e+03
region_code,59400.0,15.297003,17.587406,1.00000,5.000000,12.000000,17.000000,9.900000e+01
district_code,59400.0,5.629747,9.633649,0.00000,2.000000,3.000000,5.000000,8.000000e+01
population,59400.0,179.909983,471.482176,0.00000,0.000000,25.000000,215.000000,3.050000e+04
construction_year,59400.0,1300.652475,951.620547,0.00000,0.000000,1986.000000,2004.000000,2.013000e+03

## 4. External Data Source Validation

Making sure your data matches something outside of the dataset is very important. It allows you to ensure that the measurements are roughly in line with what they should be and it serves as a check on what other things might be wrong in your dataset. External validation can often be as simple as checking your data against a single number, as we will do here.

### a.Validation

## 5. Tidying the Dataset

### Missing value

While identifying these missing records proves to be easy, how to handle them often requires careful consideration as random fills or removal can lead to unforeseen results.

There are a couple of ways to deal with missing data but it is important to note that neither is the optimal way of doing so:

* **Dropping** - Deleting the records with missing values.
* **Replacing** - Updating Missing values with values, this values could be actual or approximate.

In [14]:
# function that checks for missing values and display as percentage
def missing_values(data):
    """A simple function to identify data has missing values"""
    # identify the total missing values per column
    # sort in order 
    miss = data.isnull().sum().sort_values(ascending = False)

    # calculate percentage of the missing values
    percentage_miss = (data.isnull().sum() / len(data)).sort_values(ascending = False)*100
    # store in a dataframe 
    missing = pd.DataFrame({"Missing Values": miss, "Percentage(%)": percentage_miss})

    # remove values that are missing 
    missing.drop(missing[missing["Percentage(%)"] == 0].index, inplace = True)

    return missing

In [15]:
missing_values(well_df)

                   Missing Values  Percentage(%)
scheme_name                 28166      47.417508
scheme_management            3877       6.526936
installer                    3655       6.153199
funder                       3635       6.119529
public_meeting               3334       5.612795
permit                       3056       5.144781
subvillage                    371       0.624579

Since `scheme_name` has 47% of its data missing we can't drop its rows since we will be loosing almost half of our data.
So we drop the entire column

In [16]:
# Drop a column by name
well_df = well_df.drop(columns=["scheme_name"])

The other ones have les than 5% of the data missing so will be drop rows only

In [17]:
#drop the rows with missing values
well_df = well_df.dropna()

In [18]:
missing_values(test)

                   Missing Values  Percentage(%)
scheme_name                  7092      47.757576
scheme_management             969       6.525253
installer                     877       5.905724
funder                        869       5.851852
public_meeting                821       5.528620
permit                        737       4.962963
subvillage                     99       0.666667

In [19]:
# Drop a column by name
test = test.drop(columns=["scheme_name"])

In [20]:
#drop the rows with missing values
test = test.dropna()

### Removal of Duplicate and Unwanted Observations

* **Duplicated Entries** - Complete carbon copy of rows or column values. 
* **Unwanted observations** - Irrelevant data records that don’t actually fit the specific problem you are trying to analyze or solve

Check for any duplicates in the column

In [21]:
# Checking for duplicates in rows
well_df.duplicated().sum()

0

In [22]:
# Checking for duplicates in rows
test.duplicated().sum()

0

Next we check if their is any uniqie column `id` has duplicates

In [23]:
def unique_column_duplicates(data, column):
    """handling duplicates in unique column"""
    # empty list to store the duplicate bools
    duplicates = []
    for i in data[column].duplicated():
        duplicates.append(i)
    
    # identify if there are any duplicates
    duplicates_set = set(duplicates)
    if (len(duplicates_set) == 1):
        print(f"The column {column.title()} has no duplicates")
    else:
        no_true = 0
        for val in duplicates:
            if (val == True):
                no_true += 1
        # percentage of the data represented by duplicates 
        duplicates_percentage = np.round(((no_true / len(data)) * 100), 3)
        print(f"The column {column.title()} has {no_true} duplicated rows.\nThis constitutes {duplicates_percentage}% of the data set.")

In [24]:
unique_column_duplicates(well_df, "id")

The column Id has no duplicates

In [25]:
unique_column_duplicates(test, "id")

The column Id has no duplicates

Their columns that have different names but same values in their rows

In [26]:
# Compare payment and payment_type columns in the DataFrame
print(well_df['payment_type'].value_counts())
print(" ")
print(well_df['payment'].value_counts())

never pay     20690
per bucket     7897
monthly        7542
unknown        4172
on failure     3642
annually       3417
other           928
Name: payment_type, dtype: int64

never pay                20690
pay per bucket            7897
pay monthly               7542
unknown                   4172
pay when scheme fails     3642
pay annually              3417
other                      928
Name: payment, dtype: int64

In [27]:
# Compare quality_group  and water_quality columns in the DataFrame
print(well_df['quality_group'].value_counts())
print(" ")
print(well_df['water_quality'].value_counts())

good        42667
salty        3949
unknown       880
colored       320
milky         299
fluoride      173
Name: quality_group, dtype: int64

soft                  42667
salty                  3718
unknown                 880
coloured                320
milky                   299
salty abandoned         231
fluoride                160
fluoride abandoned       13
Name: water_quality, dtype: int64

In [28]:
# Compare extraction_type_group, extraction_type_class, extraction_type columns in the DataFrame
print(well_df['extraction_type'].value_counts())
print(" ")
print(well_df['extraction_type_group'].value_counts())
print(" ")
print(well_df['extraction_type_class'].value_counts())

gravity                      23036
nira/tanira                   6260
other                         4538
submersible                   3645
swn 80                        2858
mono                          2382
india mark ii                 2047
afridev                       1346
ksb                           1330
other - rope pump              212
other - swn 81                 199
windmill                       104
cemo                            89
india mark iii                  87
other - play pump               76
walimi                          46
climax                          32
other - mkulima/shinyanga        1
Name: extraction_type, dtype: int64

gravity            23036
nira/tanira         6260
submersible         4975
other               4538
swn 80              2858
mono                2382
india mark ii       2047
afridev             1346
other handpump       322
rope pump            212
other motorpump      121
wind-powered         104
india mark iii        87
Name: extraction_type_group, dtype: int64

gravity         23036
handpump        12920
submersible      4975
other            4538
motorpump        2503
rope pump         212
wind-powered      104
Name: extraction_type_class, dtype: int64

In [29]:
# Compare waterpoint_type, waterpoint_type_group columns in the DataFrame
print(well_df['waterpoint_type'].value_counts())
print(" ")
print(well_df['waterpoint_type_group'].value_counts())

communal standpipe             23837
hand pump                      13602
communal standpipe multiple     5459
other                           4651
improved spring                  651
cattle trough                     82
dam                                6
Name: waterpoint_type, dtype: int64

communal standpipe    29296
hand pump             13602
other                  4651
improved spring         651
cattle trough            82
dam                       6
Name: waterpoint_type_group, dtype: int64

In [30]:
# Compare quantity, quantity_group columns in the DataFrame
print(well_df['quantity'].value_counts())
print(" ")
print(well_df['quantity_group'].value_counts())

enough          28355
insufficient    11799
dry              4945
seasonal         2899
unknown           290
Name: quantity, dtype: int64

enough          28355
insufficient    11799
dry              4945
seasonal         2899
unknown           290
Name: quantity_group, dtype: int64

Since this Columns have similar value count there is not need of keeping both we can drop one and remain with the most profficient one

In [31]:
# droping the columns
well_df = well_df.drop(columns=['waterpoint_type', 'quantity', 'quality_group', 'payment_type', 'extraction_type_group', 'extraction_type_class'])
test = test.drop(columns=['waterpoint_type', 'quantity', 'quality_group', 'payment_type', 'extraction_type_group', 'extraction_type_class'])